# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Vim
*.swp

# Jupyter Notebook
.ipynb_checkpoints

# mac
.DS_Store

# IDE
.vscode
.idea

# Build / packaging
build/
dist/
*.egg-info/

# Environment
*.env
.mypy_cache
.venv/
.virtualenv/
local/

# Test / runtime artifacts
*.log
*.db
*.pkl
*.index
*.tar.gz
*.pt
test_before_pypi/

# Logs and profiling
/logs/
/mlruns/

# Cache
/checkpoints/
